<h3>Create a New Warehouse:</h3>
<form class="form new-warehouse-form">
  <div class="mb-3">
    <label for="warehouse-location">Warehouse Location:</label>
    <input
        type="text"
        class="form-control"
        id="inventory-location"
        name="inventoryItem-location"
    />
  </div>
  <div class="mb-3">
    <label for="warehouse-name">Warehouse Name:</label>
    <input
        type="text"
        class="form-control"
        id="warehouse-name"
        name='inventory-name'
    />
  </div>
  <div class="mb-3 form-check">
      <button type="submit" class="btn btn-primary">+ Create New Warehouse</button>
  </div>
</form>

{{#if warehouses.length}}
    <h3>Current Warehouse Inventory:</h3>
    {{#each warehouses as |warehouse|}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{warehouse.location}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{warehouse.name}}</h6>
                <a href="/api/warehouse/{{warehouse.id}}" class="card-link">Warehouse Inventory</a>
            </div>
        </div>
    {{/each}}
{{/if}}

<script src="./js/dashboard.js"></script>