<h3>Create a New Warehouse:</h3>
<form class="form" id="new-warehouse-form">
  <div class="mb-3">
    <label for="warehouse_location">Warehouse Location:</label>
    <textarea
        type="text"
        class="form-control"
        id="warehouse-location"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="warehouse_name">Warehouse Name:</label>
    <textarea
        type="text"
        class="form-control"
        id="warehouse-name"
    ></textarea>
  </div>
  <div class="mb-3 form-check">
      <button type="submit" class="btn btn-primary" >+ Create New Warehouse</button>
  </div>
</form>

{{#if warehouses.length}}
    <h3>Current Warehouses:</h3>
    <div class="d-flex flex-wrap">
    {{#each warehouses as |warehouse|}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{location}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{name}}</h6>
                <a href="/api/warehouses/{{id}}" class="card-link">View Warehouse Inventory</a>
            </div>
        </div>
    {{/each}}
    </div>
{{/if}}

{{!-- <script src="/js/dashboard.js"></script> --}}